/*/*Base Specs*/
#Athena-logo {
    color: #00ACD3;
    margin-left: auto;
    margin-top: 0px;
}

label {
    color: #2f3c3d;
}

h3, h4 {
    color: black;
}

#base-athena-navbar {
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 100%;
    font-size: 14px;
    text-shadow: none;
    letter-spacing: 1px;
    border-radius: 0;
    border-color: black;
    background-color: black;
    height: 60px;
}

#base-navbar-right{
    margin-right: -65px;
    margin-top: 17px;
    padding: 10px 10px;
    margin-top: 12px;
    border: 1px solid whitesmoke;
    background-color: black;
}

#base-body {
    background-color: whitesmoke;
}

#navbar-collapse-Athena {
    padding: 10px 10px;
    margin-top: 12px;
    border: 1px solid whitesmoke;
    background-color: black;
}

/*Map Specs*/
.country-header {
    color: black;
    font-style: bold;
    font-size: 16px;
    font-family: Montserrat;
}

/*Quiz Specs*/
#quiz-submit-btn {
    color: black;
    font: bold;
    border: 1px solid black;
    margin: auto;
}

/*Score and Small Data Specs*/
.jumbotron {
    background-color: white;
}
#quiz-scores-list {
    color: black;
    font-family: Montserrat;
}
#quiz-scores {
    color: black;
    font-family: Montserrat;
}




/*Landing Page Specs*/
#modal-submit {
    text-align: left;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: white;
}

.modal-header {
    height: 100px;
    background-color: black;
    opacity: 0.8;
    text-align: center;
}

.modal-body {
    background-color: black;
    opacity: 0.8; 
    height: 200px;

}

.logsign {
    text-align: center
}

.modal-form-class {
    color: black;
    opacity: 1;
}

.modal-backdrop {
    opacity: 100%;
}

.intro {
    background: url("/static/img/santorini2.jpg");
}

.btn-default {
    border: 1px solid #00ACD3;
    color: #00ACD3;
}

.change-blue {
    color: #00ACD3;
}*/