/*/*Base Specs*/
#Athena-logo {
    color: #66e0ff;
    margin-left: auto;
    margin-top: 0px;
}

label {
    color: #2f3c3d;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h3, h4 {
    color: black;
}

.navbar-brand {
    padding: 15px;
}

#base-athena-navbar {
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 100%;
    font-size: 14px;
    text-shadow: none;
    letter-spacing: 1px;
    border-radius: 0;
    border-color: black;
    background-color: black;
    height: 60px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#base-navbar-right{
    margin-right: -65px;
    margin-top: 20px;
    padding: 10px 10px;
    margin-top: 12px;
    border: 1px solid whitesmoke;
    background-color: black;
}

.index-bar{
    color: white;
}


#base-body {
    background-color: whitesmoke;
}

#navbar-collapse-Athena {
    padding: 10px 10px;
    margin-top: 10px;
}

/*Map Specs*/
.country-header {
    color: black;
    font-style: bold;
    font-size: 16px;
    font-family: Montserrat;
}

/*Quiz Specs*/
#quiz-submit-btn {
    color: black;
    font: bold;
    border: 1px solid black;
    margin: auto;
}

/*Score and Small Data Specs*/
#jumbotron-id {
    color: black !important;
}

.jumbotron p {
     vertical-align: middle;
}

#athena-j{
    color: black !important;
    font-size: 34px!important;
}

#athena-p {
    color: black !important;
    font-size: 40px;
}

.athena-para {
    color: black !important;
}

#quiz-scores-list {
    color: black;
    font-family: Montserrat;
}

#quiz-scores {
    color: black;
    font-family: Montserrat;
}

#score-background {
    width: 100%;
    height: 650px;
    background: url("/static/img/santorini2.jpg");
}

/*Landing Page Specs*/
#modal-submit {
    text-align: left;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-transform: none;
    padding: none;
}

.modal-header {
    height: 100px;
    background-color: black;
    opacity: 0.8;
    text-align: center;
}

.modal-body {
    background-color: black;
    opacity: 0.8; 
    height: 200px;

}

.logsign {
    text-align: center
}

.modal-form-class {
    color: black;
    opacity: 1;
}

.modal-backdrop {
    opacity: 100%;
}

.intro {
    background: url("/static/img/santorini2.jpg");
}

.btn-default {
    border: 1px solid #00ACD3;
    color: #00ACD3;
}

.change-blue {
    color: #00ACD3;
}*/