<html>
<head>
    <meta charset=utf-8 />
    <title> Athena</title>

    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Bootstrap: Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Bootstrap: Latest compiled and minified JavaScript, jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    
    <!--     Bootstrap: can't get collapse.js -->
    <!-- TODO: Can't get collapse to work not importing correctly -->

    <!-- Bootstrap: base Grayscale theme -->
    <link href="static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Bootstrap Fonts -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- My CSS Styling -->
    <link rel="stylesheet" href="/static/css/Athena.css">

    <!-- jQuery validate plugin -->
    <link rel="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js">
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Charts.js -->
    <script src=
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js">
    </script>

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/owl3.png') }}">
</head>

<body id="base-body">
<!-- Navbar (appears after sign-in) -->
    <nav class="navbar navbar-custom navbar-fixed-top" id="base-athena-navbar" role="navigation">
      <div class="container" id="base-navbar-container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" class="navbar" id="Athena-logo" href="/home">Athena</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right" id="base-navbar-right">
            {%if current_user.is_authenticated %}
            <li><a class="navbar" href="/small_data">Small Data</a></li>
            <li><a class="navbar" href="/twilio">Daily Quiz</a><li>
            <li><a class="navbar" href="/logout" type="logout" id="login">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div><!-- close container -->
    </nav>

<div class="container">
<!-- Main Content -->
{% block body %}
 When a metric becomes a target, it ceases to be a good metric.
{% endblock %}
</div>

</body>
</html>