<html>
<head>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/owl_fav.ico') }}">
</head>

<body>
<!-- Navbar (appears after sign-in) -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="Athena-logo" href="/">Athena</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Small Data</a></li>
      </ul>
        <!-- Login/Logout Modal Form -->
       <ul class="nav navbar-nav navbar-right">
        <!-- <form class="navbar-form navbar-left" role="start_login" action="#" method="POST" name="start_login"> -->
          <!-- Trigger the login modal window -->
<!--           <a href="#loginmodal" class="btn btn-default" data-toggle="modal" data-target="#loginmodal">Login</a>
        </form> -->
        <!-- TODO should only show once user is logged in -->
<!--         <form class="navbar-form navbar-left" role="logout" action="/logout" method="POST" name="logout">
          <button type="logout" class="btn btn-default" id="logout">Logout</button>
        </form>
 -->

<!-- Forget the above for now, use this to test login -->
      <a href="/login-signup-form" type="login" id="login"><button class="btn btn-default">Signup/Login</button></a>
   </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

<!-- Main Content -->
{% block body %}
When a metric becomes a target, it ceases to be a good metric.
{% endblock %}


</body>
</html>