<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Athena: Open your world </title>

    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Bootstrap: Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Bootstrap: Latest compiled and minified JavaScript, jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-collapse.js"></script>

    <!-- Bootstrap: base Grayscale theme -->
    <link href="/static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Bootstrap Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- My CSS Styling -->
    <link rel="stylesheet" href="/static/css/Athena.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/owl3.png') }}">
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" id="navbar-collapse-Athena">
                <i class="fa fa-bars"><img src="/static/img/hamburger.png"></img></i>
            </button>
            <a class="navbar-brand page-scroll Athena-brand" href="#page-top">
            <span class="light">Athena</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden"><a href="#page-top"></a></li>
                <li><a class="page-scroll" href="#read-the-story">Read The Story</a></li>
                <li><a class="page-scroll" href="#contact-roo">Contact Roo</a></li>
                <li><a type="submit" class="page-scroll btn" data-toggle="modal" data-target="#logsignModal" id="modal-submit">Get Started</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Modal Signup/Login -->
<div class="modal fade" id="logsignModal" tabindex="-1" role="dialog" aria-labelledby="logsignModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-backdrop">
        <div class="modal-header">
          <br>
          <br>
          <div class="col-sm-5" class=".form-group">
            <h2 class=".form-group" class="logsign-header"> Sign up </h2>
          </div>
          <div class="col-sm-5 col-sm-offset-1" class=".form-group">
            <h2 class=".form-group" class="logsign-header"> Log in </h2>
          </div>
          <div class="col-sm-1" class=".form-group">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

        </div>
      <div class="modal-body">
        <!-- signup  -->
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <form action="/signup" id="signup-form" method="POST" class=".form-group">
                {{ signup_form.csrf_token }}
              <dl>
                {{ signup_form.email(placeholder="you@mail.com", class="modal-form-class") }}
                <span id="signup-email-error"></span>
                <br>
                <br>
                {{ signup_form.password(placeholder="password", class="modal-form-class") }}
                <span id="signup-password-error"></span><br>
                <span id="signup-password-guide" style="font-size: 12px">min 6 characters, 1 number</span>
                <br>
                <br>
                <dd><input class="btn btn-default" type="submit" id="signup-button" value="Signup" disabled="disabled" class=".form-group">
              </dl>
            </form>
          </div>

          <!-- login -->
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <form action="/login" id="login-form" method="POST" class=".form-group">
                {{ login_form.csrf_token }}
              <dl>
                {{ login_form.email(placeholder="you@mail.com", class="modal-form-class") }}
                <span id="login-email-error"></span>
                <br>
                <br>
                {{ login_form.password(placeholder="password", class="modal-form-class") }}
                <span id="login-password-error"></span><br>
                <span id="login-password-guide" style="font-size: 12px">min 6 characters, 1 number</span>
                <br>
                <br>
                <dd>
                <input class="btn btn-default" type="submit" id="login-button" value="Login" disabled="disabled" class=".form-group">
              </dl>
            </form>
          </div>
      </div> <!-- close modal body -->
    </div> <!-- close modal container -->
  </div>
</div>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <br>
                        <h1 class="brand-heading">Open Your World</h1>
                        <p class="intro-text">
                            <br>
                            <br>
                        </p>
                        <a href="#read-the-story" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Tale Section -->
<section id="read-the-story" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Athena</h2>
            <p> . . . </p>
            <p>The goddess Athena was born from the head of her father, fully clothed in a suit of armor. This project was made much the same way. 
            <br>Stack: postgreSQL, Python, Flask, JavaScript, jQuery, Ajax & Bootstrap

            <p>This site was created by hacking apart an open-source theme:
                <a class="change-blue" href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale</a> 
            <p>
                <img class="index-img" src="/static/img/athena3.jpg">
            </p>
        </div>
    </div>
    <div>
    <div>
</section>


<!-- Contact Section -->
<section id="contact-roo" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>See Roo Other Places</h2>
            <br>
            <p> . . . </p>
            <p>
                <img class="index-img" src="/static/img/owl4.png">
            <br>
            <br>
            <p><a class="change-blue" href="mailto:harrigan.roo@gmail.com">harrigan.roo@gmail.com</a></p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/roo_harrigan" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/rooharrigan" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://medium.com/@roo_harrigan" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Medium</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<br>
<br>
<br>
<!-- Footer -->
<footer>
    <div class="container text-center">
        <p id="copyright-footer">Copyright &copy; <span class="change-blue">Roo Harrigan 2015</span></p>
    </div>
</footer>


<!-- JAVASCRIPT -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Plugin JavaScript for easing on collapse -->
<script src="js/jquery.easing.min.js"></script>

<!-- Google Maps API JavaScript -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false">
</script>

<!-- JavaScript for Grayscale Theme -->
<!-- TODO: Investigate the down-arrow scrolling from middle of Intro section -->
<script src="js/grayscale.js"></script>

<script>
    function isPassword(password) {
        var hasNumber = /\d/;

        if ((password.length > 5) && hasNumber.test(password)) {
            console.log("password check!");
            return true;
        }
        else {
            console.log("not a valid password");
            return false;
        }
    }

    function checkPassword(e) {
        var password = e.currentTarget.value;
        console.log(password)

        // Grab the right DOM error to update 
        if (e.currentTarget.id === "signup-password") {
            var error = $('#signup-password-error');
            var email = $('#signup-email').val();
            var button = $('#signup-button');
            var guide = $('#signup-password-guide');
        }
        
        else if (e.currentTarget.id === "login-password") {
            var error = $('#login-password-error');
            var email = $('#login-email').val();
            var button = $('#login-button');
            var guide = $('#login-password-guide');
        }

        else {
            console.log("not grabbing the span error elements.");
        }

        // Check password and display checks
        if (isPassword(password)) {
            console.log(isPassword(password));
            error.html('<img src="/static/img/greencheck.ico">');
            guide.hide();
            console.log(email);
            if (isEmail(email) === true) {
                enableButton(button);
            }
        }
        else {
            console.log("it's not a valid password");
            error.html('<img src="./static/img/redx.png">');
            guide.show();
            guide.css({'color': 'red'});
            disableButton(button);
        } 

    }


    function isEmail(email) {
        // Commone Regex pattern for email formattingin the u.s.
        // TODO: I18N for password checking, consider writing new RegEx
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        console.log(pattern.test(email));
        return pattern.test(email);
    }

    function checkEmailError(e) {
        var email = e.currentTarget.value;

        // Grab the right error span on the page
        if (e.currentTarget.id === "signup-email") {
            var button = $("#signup-button");
            var error = $("#signup-email-error");
            var password = $("#signup-password").val();
        }
        else if (e.currentTarget.id === "login-email") {
            var button = $("#login-button");
            var error = $("#login-email-error");
            var password = $("#login-password").val();
        }
        else {
            console.log("not grabbing the span error elements.");
        }

        // Check if the email is right format, display indicating img in error span, and disable/enable submission
        if (isEmail(email)) {
            console.log("valid email");
            error.html('<img src="/static/img/greencheck.ico">');
            if (isPassword(password) === true) {
                enableButton(button);
            }
        }
        else if (email === 'apple') {
            console.log('it is apple');
            error.html('<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xta1/v/t1.0-1/p160x160/11403085_879608642074874_2542371107974928751_n.jpg?oh=48608a8a1d4f0a44fdd7bdaf179d85c6&oe=56BF4753&__gda__=1456315005_59b9eef44d870d7f2484e5fa9fb7047c">');
            disableButton(button);
        }
        else {
            console.log("it's not a valid email");
            error.html('<img src="./static/img/redx.png">');
            disableButton(button);
        }  
    }

    function enableButton(button) {
        button.attr("disabled", false);
    }

    function disableButton(button) {
        button.attr("disabled", "disabled");
    }

    $('#signup-email').change(checkEmailError);
    $('#login-email').change(checkEmailError);

    $('#signup-password').change(checkPassword);
    $('#login-password').change(checkPassword);
</script>

</body>
</html>