<!-- Make the floating login/signup modal window -->
{% extends 'base.html' %}

{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

        
<!-- signup  -->
<h1> Sign up! </h1>
  <form action="/signup" id="signup-form" method="POST">
      {{signup_form.csrf_token}}
    <div class="col-xs-6 col-md-6">
    <dl>
      {{ signup_form.email.label }}: {{ signup_form.email(placeholder="yourname@gmail.com") }}
      <br>
      {{ signup_form.password.label }}: {{ signup_form.password }}
      <br>
      <br>
      <dd><input class="btn btn-default" type="submit" value="Signup">
    </dl>
  </div>

  </form>

<!-- login -->
<h1> Log in! </h1>
  <form action="/login" id="login-form" method="POST">
      {{login_form.csrf_token}}
    <div class="col-xs-6 col-md-6">
    <dl>
      {{ login_form.email.label }}: {{ login_form.email(placeholder="yourname@gmail.com") }}
      <br>
      {{ login_form.password.label }}: {{ login_form.password }}
      <br>
      <br>
      <dd>
          <input class="btn btn-default" type="submit" value="Login">
    </dl>
  </div>
  </form>

{% endblock %}
