<!-- Gathers the country from the user -->
{% extends 'base.html' %}

{% block body %}

<br>
<br>

<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-8">
    <h3> Which country would you like to learn about? </h3>
    <form action="/quiz">
    <div class="input-group">
      <input type="text" class="form-control" name="country" id="country" placeholder="Enter a country">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Quiz me!</button>
      </span>
    </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</div><!-- container fluid -->


{% endblock %}