<!-- Generates the multiple-choice quiz -->
{% extends 'base.html' %}

{% block body %}

<br>
<br>
<div class="container-fluid">
    <div class="row">
    <div class="col-xs-12 col-md-9 col-lg-9">
        <h3>What is the capital of {{ country_name }}?</h3>
        <br>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">{{ capital }}</button>
          <button type="button" class="btn btn-default">{{ wrong1 }}</button>
          <button type="button" class="btn btn-default">{{ wrong2 }}</button>
          <button type="button" class="btn btn-default">{{ wrong3 }}</button>
        </div>
    </div>
    </div>
</div>




{% endblock %}