<!-- Picklist of what you want to learn about -->
{% extends 'base.html' %}

{% block body %}
<br>
<br>
<div class="container-fluid">
    <div class="row">
    <div class="col-xs-12 col-md-9 col-lg-9">
        <h3>What do you want to learn about?</h3>
        <br>
        <br>
        <div>
          <form action="/country">
              <button type="submit" class="btn btn-default">Countries!</button>
          </form>
        </div>
    </div>
    </div>
</div>

<!-- Continents Map -->
  <div class="col-xs-12 col-s-8 col-s-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <form id="continents-submission">  
    <div id="map-canvas"></div>
    <input type="hidden" name="map-guess" id="map-guess"></input>
    </form>
  </div>


<!-- Map JavaScript -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&amp;libraries=visualization&amp;sensor=false&amp;">
    </script>

    <style type="text/css">
      #map-canvas {
        height: 600px;
        width: 900px;
      }
    </style>

    <script type="text/javascript">
      var colors = ['#ff1a1a', '#ff531a', "#ffff33", "#cc3300", "#800040"];
      var map;

      function initialize() {
        var myOptions = {
           zoom: 2,
           center: new google.maps.LatLng(28.8470002,17.5148026),
           mapTypeId: google.maps.MapTypeId.SATELLITE,
           disableDefaultUI: true,
           mapTypeControl: false,
           zoomControl: true,
           scaleControl: false,
           scrollwheel: false,
           panControl: false,
           disableDoubleClickZoom: true,
           minZoom: 2,
           draggable: true,
           labels: true
         };

        map = new google.maps.Map(document.getElementById('map-canvas'),
            myOptions);

        // Initialize JSONP request
        var script = document.createElement('script');
        var url = ['https://www.googleapis.com/fusiontables/v1/query?'];
        url.push('sql=');
        var query = 'SELECT name, geometry FROM ' +
            '1n59-Sd9piJiAk5-R80R-uwHKWl2uz-TSYv0gi64P';
        var encodedQuery = encodeURIComponent(query);
        url.push(encodedQuery);
        url.push('&callback=drawMap');
        url.push('&key=AIzaSyArBza-WmBsVVMllOO16L14IsOrd0yWVxE');
        script.src = url.join('');
        var body = document.getElementsByTagName('body')[0];
        body.appendChild(script);           
      }

// make a script div with the url created above
      function drawMap(data) {
        console.log(data);
        var rows = data['rows'];
        for (var i in rows) {
          if (rows[i][0] != 'Antarctica') {
            var continentName = rows[i][0];
            var newCoordinates = [];
            var geometries = rows[i][1]['geometries'];
            if (geometries) {
              for (var j in geometries) {
                newCoordinates.push(constructNewCoordinates(geometries[j]));
              }
            } 
            else {
              newCoordinates = constructNewCoordinates(rows[i][1]['geometry']);
            }
            var randomnumber = Math.floor(Math.random() * 4);
            var continent = new google.maps.Polygon({
              paths: newCoordinates,
              strokeColor: colors[randomnumber],
              strokeOpacity: 0,
              strokeWeight: 0,
              fillColor: colors[randomnumber],
              fillOpacity: 0.0,
              name: continentName,
            });

            var currentPolygon = null;
            var contCenters = {
              "Africa": {lat: -1.8399833, lng: 19.6104447},
              "Asia": {lat: 31.750743, lng: 64.5728469},
              "Europe": {lat: 53.5957118, lng: 16.0948197},
              "North America": {lat: 48.6364795, lng: -106.2489303},
              "South America": {lat: -28.9938057, lng: -61.073149},
              "Caribbean": {lat: 18.9528706, lng: -70.6125321},
              "Oceania": {lat: -25.2141728, lng: 138.4530368}
            };
            google.maps.event.addListener(continent, 'mouseover', function() {
              this.setOptions({fillOpacity: 0.3});
            });
            google.maps.event.addListener(continent, 'mouseout', function() {
                if (currentPolygon !== this) {
                    this.setOptions({fillOpacity: 0})
                }
            });
            google.maps.event.addListener(continent, 'click', function() {
                // To deselect a polygon
                if (currentPolygon === this) {
                    currentPolygon = null
                    console.log(currentPolygon)
                }
                else {
                    // To select new polygon and deselect old one
                    if (currentPolygon) {
                        console.log("Old polygon: ")
                        oldPolygon = currentPolygon
                        oldPolygon.setOptions({fillOpacity: 0})
                        console.log(oldPolygon.name)
                    }
                    // To select your first polygon
                    currentPolygon = this;
                    console.log("Current polygon: ");
                    console.log(currentPolygon.name);
                    var contLatLong = contCenters[currentPolygon.name];
                    marker = new google.maps.Marker({
                      map: map,
                      draggble: false,
                      animation: google.maps.Animation.DROP,
                      position: contLatLong
                    });
                    marker.addListener('click', function () {
                      marker.setMap(null)
                      // TODO: Unclick on the marker deselects the current polygon
                      // TODO: Show flag/marker with icon drop-in
                      // if (currentPOlygon === this) {
                      //   currentPolygon = null
                      // }
                    });
                }
                $("#map-guess").val(currentPolygon.name);
            });   
            continent.setMap(map);
          }
        }
      }


      function constructNewCoordinates(polygon) {
        var newCoordinates = [];
        var coordinates = polygon['coordinates'][0];
        for (var i in coordinates) {
          newCoordinates.push(
              new google.maps.LatLng(coordinates[i][1], coordinates[i][0]));
        }
        return newCoordinates;
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>


{% endblock %}