<!-- Small Data! -->
{% extends 'base.html' %}

{% block body %}


<!-- JavaScript for Canvas Here -->
<br>
<br>
<!-- Visualization of all users' scores -->
<div class="row">
    <div class="col-xs-12 col-s-6 col-md-6">
        <div class="col-xs-12 col-offset-1">
            <h3>>  Your World</h3>
        </div>
    <div class="userChart">
        <canvas id="user-scores" width="200" height="200"></canvas>
    </div>
    <br>
    <div class="col-xs-6 col-md-9 col-xs-offset-1">
    <h5>How your scores shake out</h5>
    <ul class="list-group">
        {% for continent,score in user_scores.iteritems() %}
                <li class="list-group-item"><span class="badge">{{ score }}</span>{{ continent }}</li>
        {% endfor %}
    </ul>
    </div>
    </div><!-- close column -->

    <div class="col-xs-12 col-md-6">
        <div class="col-xs-12 col-offset-1">
            <h3>>  Athena's World</h3>
        </div>
    <div class="athenaChart">
        <canvas id="athena-scores" width="200" height="200"></canvas>
    <div id="legend" class="chart-legend"></div>
    </div>
    <br>
    <div class="col-xs-6 col-md-9 col-xs-offset-1">
    <h5>How other users are scoring</h5>
    <ul class="list-group">
        {% for continent, score in all_scores.iteritems() %}
            <li class="list-group-item"><span class="badge">{{ score }}</span>{{ continent }}</li>
        {% endfor %}
    </ul>
    </div>
    </div><!-- close column -->
</div><!--  close row -->


<script>
var ctx1 = $("#athena-scores").get(0).getContext("2d");
var ctx2 = $("#user-scores").get(0).getContext("2d");
var options = { 
    responsive: true,
    scaleShowLabelBackdrop : true,
    segmentStrokeColor: "#000000"
     };

$.get("/athena_data.json", function (data) {
    var athenaChart = new Chart(ctx1).PolarArea(data.continents, options);
});

$.get("/user_data.json", function (data) {
    var userChart = new Chart(ctx2).PolarArea(data.continents, options);
});

</script>


{% endblock %}