<!-- Generates the multiple-choice quiz -->
{% extends 'base.html' %}
<!-- 
TODO: continue working on regex for phone number
TODO: Make phone number text black in box
 -->
{% block body %}
<!-- <div class="row"> -->
      {%if current_user.phone_number %}
      <br>
      <br>
      <br>
      <div class="col-xs-12 col-md-6 col-lg-6 col-s-offset-1 col-md-offset-1 col-lg-offset-1">
            <h3>Keep learning!</h3>
            <h4>Grab a quiz question on the go<br> with text questions powered by Twilio.</h4>
            <form action="/dailycapquiz_question" method="POST" name="twilio-quizme" id="twilio-quizme">
                <input class="btn btn-default" type="submit" id="twilio-quizme" value="Gimme another one!">
            </form>
        <br>
        <br>
        <br>
        <br>
        <h3>Your quiz scores by region</h3>
        <div class="col-xs-6 col-md-10">
            <ul class="list-group">
                {% for continent,score in user_scores.iteritems() %}
                        <li class="list-group-item" id="quiz-scores-list"><span class="badge" id="quiz-scores">{{ score }}</span>{{ continent }}</li>
                {% endfor %}
            </ul>
        </div>
        </div>

        <div class="col-xs-12 col-s-5 col-md-5 col-lg-5">
            <h3>> Your Daily Quiz World</h3>
            <div class="userChart">
                <canvas id="user-cap-scores" width="200" height="200"></canvas>
            </div>
        </div>

    {% else %} 
    <section id="phone-number-signup" class="container-fluid" style="background: url('/static/img/column.jpg')">
    <div class="row">
    <div class="col-xs-12 col-s-12 col-md-12 col-lg-12 col-xl-12">
    <br>  
        <h3 style="text-align: center; font-size: 50px">Want to learn a capital a day?</h3>
        <h4 >Enter your phone number and we'll text you <br>a question 
            every morning*</h4>
        <form action="/dailycapquiz_question" method="POST" name="twilio-signup" id="twilio-signup"> 
            <input type="text" name="phone-number" id="phone-number" placeholder="ex: 4155551234"></input>
            <input class="btn btn-default" type="submit" id="twilio-submit" value="Get cracking">
            <span id="phone-number-error"></span>
        </form>
        <br>
        <h4 style="font-size: 12px">*U.S phone numbers only at this time, please</h4>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div> <!-- close column -->
    </div> <!-- close row -->
    </section>
    {% endif %}
<!-- </div>close row -->

<script>
// Check that phone number is correct format (U.S. only)
function isPhoneNumber (number) {
    var pattern = /(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})/
    console.log(pattern.test(number));
    return pattern.test(number);
}

function checkPhoneNumber(e) {
    var number = $("#phone-number").val();
    var error = $("#phone-number-error");
    var button = $("#twilio-submit");
    if (isPhoneNumber(number)) {
        console.log("valid phone number!")
        error.html('<img src="/static/img/greencheck.ico">');
    }
    else {
        console.log("not a valid phone number");
        error.html('<img src="./static/img/redx.png">');
        disableButton(button);
    }
}

$('#phone-number').change(checkPhoneNumber);


// Build chart.js visual of capital scores
var ctx2 = $("#user-cap-scores").get(0).getContext("2d");
var options = { 
    responsive: true,
    scaleShowLabelBackdrop : true,
    animateScale: true,
    animateRotate: false,
    animationEasing: "easeOutExpo"
     };

 $.get("/capquiz_data.json", function (data) {
     var userChart = new Chart(ctx2).PolarArea(data.continents, options);
 });

</script>

{% endblock %}