<!-- Generates the multiple-choice quiz -->
{% extends 'base.html' %}
<!-- 
TODO: continue working on regex for phone number
TODO: Make phone number text black in box
 -->
{% block body %}

<section id="under-construction" class="container-fluid content-section text-center column" style="background: url('/static/img/column.jpg')">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="brand-heading" style="font-size: 40px; color: white">Ahoy!<br>
                This part's still under construction.</h3>
            <br>
            <br>
            <h4 style="color: white">Check back again soon!</h4>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</section>



{% endblock %}